/* https://github.com/academind/react-complete-guide-code/blob/19-advanced-redux/extra-files/Notification.js */
.notification {
  height: 2rem;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  padding: 0.5rem 10%;
  align-items: center;
}

.notification p {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  font-size: 18px;
  color: violet;
}
