.modal {
  background-color: #f7f7ff;
  top: 5vh;
  height: 35rem;
  width: 40rem;
  left: calc(50% - 25%);
  display: flex;
  flex-direction: column;
}
.modal header {
  display: flex;
  justify-content: space-between;
}
.modal input {
  font-family: "Roboto Mono";
  letter-spacing: 0.08rem;
  margin-top: 16px;
  color: rgba(55, 65, 81, 0.95);
  background-color: #e7e7e7;
  font-size: 16px;
  outline: 0;
  padding: 1rem 4rem;
  display: block;
  border: none;
  padding: 0.6rem;
  resize: none;
}
.modal input:focus {
  outline: none;
  border: 1px solid rgba(55, 65, 81, 0.95);
}
.error {
  color: deeppink;
  text-transform: uppercase;
  text-decoration: underline;
}

.modal p {
  color: blueviolet;
  font-size: 18px;
  align-self: center;
}
.modal label {
  color: blueviolet;

  font-size: 18px;
  align-self: center;
}
input::placeholder {
  color: rgba(55, 65, 81, 0.95);
  font-family: "Roboto Mono";
  letter-spacing: 0.08rem;
  font-size: 16px;
  padding-top: 60px;
  white-space: nowrap;
}
.close {
  height: 34px;
  cursor: pointer;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
}

.buttons {
  width: 15rem;
  align-self: center;
  margin-top: 32px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.logincreate {
  cursor: pointer;
  margin-top: 32px;
}

.modal footer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .modal {
    height: 100%;
    width: 76%;
    top: 0;
    left: 0;
  }
}
