.cardcontainer {
  position: absolute;
  margin-right: 50px;
  top: 0;
  right: 0;
  margin: 0;
  width: 20rem;
}

.trendlabel {
  color: blueviolet;
  font-size: 12px;
}
.card {
  margin: 2.5rem 0;
  padding: 1.5rem;
  border: 1px solid rgba(55, 65, 81, 0.95);
  max-width: 100%;
}

.trendcard {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgba(55, 65, 81, 0.95);
  max-width: 100%;
}

.trendcard p {
  font-size: 14px;
}
.title {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
  color: blueviolet;
}
.followcard a,
.card a {
  text-decoration: none;
  color: #444444;
}
.followcard {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.userName {
  color: blueviolet;
  margin-right: 24px;
  font-size: 14px;
  word-break: break-word;
}

.atSign {
  filter: invert(41%) sepia(89%) saturate(7471%) hue-rotate(266deg)
    brightness(90%) contrast(95%);
  margin-right: 8px;
  height: 14px;
  user-select: none;
}
.button {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .cardcontainer {
    display: none;
  }
}
