.card {
  min-width: 30rem;
  outline: 1px solid rgba(55, 65, 81, 0.95);
  padding: 1rem 0.5rem;
}

.textareacontainer {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.textareacontainer img {
  margin-right: 24px;
}

.tag {
  display: flex;
  align-items: center;
  color: rgba(55, 65, 81, 0.95);
  font-size: 20px;
  display: block;
  margin-left: 16px;
  color: blueviolet;
}

.input {
  font-family: "Roboto Mono";
  letter-spacing: 0.08rem;
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 100%;
  overflow: hidden;
  color: black;
  border-bottom: solid 1px #dcbaff;
  caret-color: #dcbaff;
  margin-right: 24px;
}
.input::placeholder {
  color: black;
  font-family: "Roboto Mono";
  letter-spacing: 0.08rem;
  font-size: 16px;
  white-space: nowrap;
  user-select: none;
}
.input input:focus {
  outline: none;
  border-color: #4f005f;
}

.avatar {
  opacity: 0.6;
  user-select: none;
  filter: invert(41%) sepia(89%) saturate(7471%) hue-rotate(266deg)
    brightness(90%) contrast(95%);
}
.atSign {
  filter: invert(41%) sepia(89%) saturate(7471%) hue-rotate(266deg)
    brightness(90%) contrast(95%);
  margin-right: 16px;
  height: 24px;
  user-select: none;
}

.button {
  margin-left: 24px;
}

.card footer {
  margin-top: 16px;
  color: grey;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.error {
  font-size: 14px;
  color: deeppink;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

.counterred {
  margin-right: 24px;
  color: deeppink;
}

.counterblack {
  margin-right: 24px;
  color: rgba(55, 65, 81, 0.95);
}
@media only screen and (max-width: 768px) {
  .card {
    margin: 0;
  }
}
