.card {
  margin: 1rem auto;
  max-width: 30rem;
  min-width: 25.1rem;
  outline: 1px solid rgba(55, 65, 81, 0.95);
  padding: 1rem 4rem;
}

.card div {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.tag {
  display: flex;
  align-items: center;

  color: rgba(55, 65, 81, 0.95);
  font-size: 20px;
  display: block;
  margin-left: 16px;
  color: blueviolet;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.input {
  font-family: "Roboto Mono";
  letter-spacing: 0.08rem;
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 1rem 1rem;
  outline: none;
  resize: none;
  width: 90%;
  overflow: hidden;
  color: black;
  border-bottom: solid 1px #dcbaff;
  -webkit-animation: fadein 2s;
  animation: typing 3.5s steps(40, end);
  caret-color: #dcbaff;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.avatar {
  opacity: 0.7;
  user-select: none;
}
.atSign {
  margin-right: 16px;
  height: 24px;
  user-select: none;
}

.button {
  margin-top: 16px;
}

.input::placeholder {
  color: black;
  font-family: "Roboto Mono";
  letter-spacing: 0.08rem;
  font-size: 16px;
  padding-top: 60px;
  white-space: nowrap;
  user-select: none;
}
.input input:focus {
  outline: none;
  border-color: #4f005f;
}
.card footer {
  color: grey;

  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.error {
  font-size: 14px;
  color: deeppink;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

.counterred {
  color: deeppink;
}

.counterblack {
  color: rgba(55, 65, 81, 0.95);
}
@media only screen and (max-width: 768px) {
  .card {
    margin: 0;
  }
}
