.card {
  border: 0px;
  position: relative;
  max-width: 1440px;
  margin: 1rem auto;
  max-width: 38.1rem;
  min-width: 25.1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
}
