.card {
  padding: 1.5rem;
  border: 1px solid rgba(55, 65, 81, 0.95);
  max-width: 100%;
  margin-bottom: 0.1rem;
}
.card a {
  text-decoration: none;
  color: #444444;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card p {
  margin: 16px 16px;
  font-size: 16px;
  word-break: break-word;
}
.username {
  align-items: center;
}

.username p {
  cursor: pointer;
  font-size: 18px;
  word-break: break-word;
}
.avatar {
  filter: invert(52%) sepia(16%) saturate(0%) hue-rotate(186deg) brightness(94%)
    contrast(88%);
  user-select: none;
}
.atSign {
  margin-left: 16px;

  height: 20px;
  user-select: none;
}
.heart {
  margin-left: 16px;
  height: 24px;
  cursor: pointer;
  font-size: 20px;
  color: rgba(55, 65, 81, 0.95);
  user-select: none;
}

.like {
  margin-left: 16px;
  cursor: pointer;
  height: 24px;
  color: #dcbaff;
  user-select: none;
  animation: bump 300ms ease-out;
}

.comment {
  opacity: 0.7;
  height: 24px;
  cursor: pointer;
  font-size: 20px;
  color: rgba(55, 65, 81, 0.95);
  user-select: none;
}

.card:last-child {
  margin-bottom: 5rem;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.delete {
  z-index: 1;
  cursor: pointer;
  height: 34px;
  color: rgba(55, 65, 81, 0.95);
  user-select: none;
}

.comment:hover,
.delete:hover,
.heart:hover {
  filter: invert(23%) sepia(76%) saturate(5751%) hue-rotate(317deg)
    brightness(104%) contrast(101%);
}

.card header div {
  display: flex;
  justify-content: space-between;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(55, 65, 81, 0.95);
  padding: 0.5em;
}

.likecontainer {
  display: flex;
  flex-direction: row;
}

.likecontainer span {
  margin-left: 16px;
  align-content: center;
}

.commentcount {
  margin-right: 1rem;
}
.error {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  font-size: 18px;
  color: violet;
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 30.6rem;
    width: 30.6rem;
  }
}
