.card {
  border: 0px;
  position: relative;
  max-width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  margin: 2rem;
}
@media only screen and (max-width: 1440px) {
  .card {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .card {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
}
