.card {
  margin: 0.5rem 0;
  padding: 1.5rem;
  border: 1px solid rgba(55, 65, 81, 0.95);
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card p {
  margin: 16px 16px;
  font-size: 16px;
}
.username {
  align-items: center;
}

.username p {
  word-break: break-word;
}
.avatar {
  opacity: 0.7;
}
.atSign {
  margin-left: 16px;
  opacity: 0.7;
  height: 20px;
}
.heart {
  height: 24px;
  cursor: pointer;
  font-size: 20px;
  color: rgba(55, 65, 81, 0.95);
}

.like {
  cursor: pointer;
  height: 24px;
  color: #dcbaff;
}
.delete {
  z-index: 1;
  cursor: pointer;
  height: 34px;
  color: rgba(55, 65, 81, 0.95);
}

.card header div {
  display: flex;
  justify-content: space-between;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(55, 65, 81, 0.95);
  padding: 0.5em;
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 30rem;
    width: 30rem;
  }
}
