.card {
  margin: 0.5rem 0;
  padding: 1.5rem;
  border: 3px solid rgba(55, 65, 81, 0.95);
  max-width: 100%;
}
.card p {
  margin: 16px 16px;
  font-size: 20px;
  overflow-wrap: break-word;
}

.heart {
  cursor: pointer;
  font-size: 20px;
  color: rgba(55, 65, 81, 0.95);
}
.heart:hover {
  color: deeppink;
}
.like {
  cursor: pointer;
  font-size: 20px;
  color: deeppink;
}
.delete {
  cursor: pointer;
  font-size: 24px;
  color: rgba(55, 65, 81, 0.95);
}
.delete:hover {
  color: chartreuse;
}
.card header div {
  display: flex;
  justify-content: space-between;
}
/* username */
.card header p {
  margin-left: 16px;
  color: rgba(55, 65, 81, 0.95);
  font-weight: bold;
  font-size: 20px;
}
.input {
  color: rgba(55, 65, 81, 0.95);
}
.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(55, 65, 81, 0.95);
  padding: 0.5em;
}
