.header {
  background-color: #087e8b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 5;
  height: 4rem;
  padding: 0 3%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.button {
  width: 3rem;
  height: 3rem;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.button span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}
/* button group CSS */
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
/* button CSS */
.navlinks li {
  margin-right: 16px;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: 1px solid white;
  white-space: nowrap;
  min-width: 10rem;
  height: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.navlinks a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.navlinks li:last-child {
  margin-right: 0px;
}
