.header {
  border-bottom: 1px solid rgba(55, 65, 81, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 5;
  height: 5rem;
  padding: 0 3%;
}

.title {
  display: flex;
  justify-content: space-around;
}
.title a {
  color: deeppink;
  font-family: "Bungee";
  font-weight: lighter;
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}

.title a span {
  display: block;
  line-height: 18px;
}

/* middle  text in span */
.middle {
  color: chartreuse;
}
.header nav {
  display: flex;
  align-items: center;
}

.header nav p {
  color: rgba(55, 65, 81, 0.95);
  margin-right: 16px;
  white-space: nowrap;
}
.header nav p span {
  color: deeppink;
  text-decoration: underline;
  white-space: nowrap;
}

.button {
  background-color: chartreuse;
  color: grey;
}
