.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 3.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title a {
  margin-left: 16px;
  color: blueviolet;
  font-weight: lighter;
  font-size: 16px;
  text-align: right;
  text-decoration: none;
  white-space: nowrap;
}

.header img {
  margin-top: 10px;
  height: 55px;
}
.button {
  margin-left: 16px;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav p {
  color: rgba(55, 65, 81, 0.95);
  margin-right: 16px;
  white-space: nowrap;
}
.header nav p span {
  color: #dcbaff;
  text-decoration: underline;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .header nav p {
    display: none;
  }
}

@media (max-width: 768px) {
  .button {
    margin-left: 24px;
  }
  .profilebutton {
    display: none;
  }
}
