.cardcontainer {
  position: absolute;
  margin-left: 50px;
  top: 0;
  left: 0;
  margin: 0;
  width: 20rem;
}
.avatar {
  margin-right: 16px;
  opacity: 0.6;
  user-select: none;
  filter: invert(41%) sepia(89%) saturate(7471%) hue-rotate(266deg)
    brightness(90%) contrast(95%);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
  padding: 2.5rem;
  border: 1px solid rgba(55, 65, 81, 0.95);
  max-width: 100%;
}

.cards {
  padding: 0 1.5rem;
}
.profiledescription {
  font-size: 14px;
}
.trendcard {
  margin: 0.5rem 0;
  padding: 1.5rem;
  border: 1px solid rgba(55, 65, 81, 0.95);
  max-width: 100%;
}

.followcard a,
.card a {
  text-decoration: none;
  color: #444444;
}
.followcard p {
  color: blueviolet;
  font-size: 18px;
}
.followcard {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.username {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  margin-right: 24px;

  word-break: break-word;
}
.username p {
  font-size: 18px;
}

.atSign {
  filter: invert(41%) sepia(89%) saturate(7471%) hue-rotate(266deg)
    brightness(90%) contrast(95%);
  margin-right: 16px;
  height: 18px;
  user-select: none;
}
.button {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .cardcontainer {
    display: none;
  }
}
