.modal {
  background-color: #f7f7ff;
  top: 5vh;
  height: 35rem;
  width: 35rem;
  padding: 0 !important;
  left: calc(50% - 12.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal input {
  min-width: 25rem;
  font-family: "Roboto Mono";
  letter-spacing: 0.08rem;
  width: 100%;
  font-size: 14px;
  outline: 0;
  padding: 1rem 4rem;
  display: block;
  border: 1px solid blueviolet;
  padding: 0.6rem;
  resize: none;
  color: black;
}
.modal input::placeholder {
  color: blueviolet;
}

.loginheader {
  margin-top: 24px;
}

.loginheader label {
  padding-bottom: 4px;
}
.modal p {
  align-self: center;
}
.modal label {
  color: blueviolet;
  margin-right: 16px;
  font-size: 18px;
  align-self: center;
}

.close {
  height: 30px;
  cursor: pointer;
}

.signup,
.login {
  cursor: pointer;
}

.underline {
  font-weight: bold;
  cursor: pointer;
  border-bottom: 4px solid #dcbaff;
}

.buttons {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 32px;
}

.logincreate {
  color: blueviolet;
  font-size: 16px;

  cursor: pointer;
  margin-top: 32px;
}

.modal footer {
  display: flex;
  flex-direction: column;
}
.error {
  color: deeppink;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

@media (max-width: 768px) {
  .modal {
    height: 100%;
    width: 76%;
    top: 0;
    left: 0;
  }
}
