.title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  font-size: 18px;
  color: blueviolet;
}
.card {
  padding: 1.5rem;
  border: 1px solid rgba(55, 65, 81, 0.95);
  margin: 1rem auto;
  width: 35.1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
  gap: 3rem;
}
.profile {
  cursor: pointer;
  opacity: 0.5;
}

.selected {
  filter: invert(41%) sepia(89%) saturate(7471%) hue-rotate(266deg)
    brightness(90%) contrast(95%);
  opacity: 0.7;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .card {
    width: 28.4rem;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 2rem 0;
  }
}
