html {
  margin: 0 auto;
  max-width: 1440px;
}
body {
  color: #444444;
  background-color: #f1f1fd;
  letter-spacing: 0.08rem;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
