html {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  min-height: 100%;
}
html ::selection {
  background: #c7d2fe; /* WebKit/Blink Browsers */
}
body {
  color: #444444;
  background-color: #f1f1fd;
  letter-spacing: 0.08rem;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
}
