html {
  margin: 0 auto;
  max-width: 1440px;
}
html ::selection {
  background: #c7d2fe; /* WebKit/Blink Browsers */
}
body {
  background-color: #f1f1fd;
  letter-spacing: 0.08rem;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
